*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
body{
    height: 100%;
    width: 100%;
    padding: 30px 400px;
    background: linear-gradient(to bottom ,#9aa7ba 10%,#91c5ff 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* dark theme & fahrenheit */
.dark-fahrenheit-div{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
.fahrenheit,.bi-moon,.toggle-theme>.bi-brightness-high{
    width: fit-content;
    padding: 10px 12px;
    color: white;
    border-radius: 7px;
    font-weight: 700;
    /* background-color: #9cc6f8; */
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.toggle-theme>.bi-brightness-high{
    display: none;
}

/* search bar */
.search-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.search-container>input{
    width: 93%;
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.search-container>input:focus-within{
    border: 2px solid gray;
    caret-color: #fff;
}
.search-container>input::placeholder{
    color: #fff;
    opacity: 0.7;
    background-color: transparent;
}
.search-icon{
    padding: 7px;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.bi-search{
    font-size: 22px;
    color: #fff;
}

.loading{
    text-align: center;
    margin-top: 20px;
}

/* weather details */
.weather-details{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.location-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.location-time>div{
    display: flex;
    gap: 15px;
}
.bi-geo-alt{
    font-size: 20px;
    color: #fff;
}
.location-time>div>p{
    font-size: 24px;
    color: #fdf4f4;
    font-weight: 550;
}
.location-time>p{
    color: #fdf4f4;
}
.weather-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.weather-icon>img{
    height: 100px;
    transform: scale(1.8);
    transform-origin: center;
    border: none;
}
/* .bi-cloud{
    font-size: 95px;
    color: white;
} */
.temp-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temp-details>p{
    font-size: 68px;
}
.temp-details>div{
    display: flex;
    gap: 30px;
}
.feels-like,
.high-low{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.feels-like>p:nth-child(1),
.high-low>p:nth-child(1){
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
.feels-like>p:nth-child(2),
.high-low>p:nth-child(2)>span{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.temp-details>div>span{
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* weather stats */
.weather-stats{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.stat-card{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #99c7fb;
}
.stat-card>.bi-droplet,
.stat-card>.bi-wind,
.stat-card>.bi-brightness-high,
.stat-card>.bi-speedometer{
    font-size: 24px;
}
.stat-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.stat-title{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}
.stat-value{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}

/* hourly forcast */
.hourly-forecast-container{
    margin-top: 40px;
    width: 100%;
}
.hourly-forecast-container>h1{
    font-size: 22px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}
.hourly-forecast-card{
    padding: 12px 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #a1cfff;
    flex-wrap: wrap;
}
.hour-card{
    padding: 12px 8px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    outline: none;
    border: 1px solid transparent;
    background-color: #a9cef8;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
.hour-card:hover{
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.cloudIcon{
    height: 50px;
    transform: scale(2);
    transform-origin: center;
    border: none;
}