*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.btn_light{
    background-color: blue;
    color: white;
}
.btn_dark{
    background-color: cyan;
    color: black;
}
.dark{
    background-color: black;
}
.light{
    background-color: #fff;
}
