@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: #F9FBFC;
}


/* <============ setting start =============> */

.setting-container{
    width: 350px;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color:  #F9FBFC;
}
.setting-container ul li a{
    text-decoration: none;
    color: #29A3E0;
}

/* setting icon & heading start */
.setting-icon{
    font-size: 22px;
}
.setting-icon i{
    margin-right: 5px;
}
/* setting icon & heading end */


.setting-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.account-setting,
.theme,
.notification{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.account-setting div, 
.theme div,
.notification div,
.privacy,
.appearance div,
.help_support,
.about{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #29A3E0;
}
h3{
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}
.account-setting ul li,
.theme ul li,
.notification ul li{
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 15px;
}
.theme ul li,
.notification ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon,
.fa-user,
.fa-bell,
.fa-lock,
.fa-eye,
.fa-headphones,
.fa-circle-question{
    color: #EEF3F7;
    margin-right: 5px;
    font-size: 20px;
}

/* account-setting start */

.account-parent{
    cursor: pointer;
}
.fa-angle-right,
.fa-angle-down{
    color: white;
    margin-right: 10px;
}
.fa-angle-down{
    display: none;
}
.account-content{
    max-height: 0;
    z-index: -1;
    overflow: hidden;
    transition: all 0.5s ease;
}
.account-setting ul li{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: #D4EBF7;
}
.account-setting ul li .fa-angle-right{
    color: #29A3E0;
}

/* account-setting end */


/* theme setting start */

.theme-content{
    max-height: 0;
    z-index: -1;
    overflow: hidden;
    transition: all 0.2s ease;
}
.theme-content li,
.notifi-content li{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #D4EBF7;
}

/* theme setting end */


/* notification setting start */

.notifi-content{
    max-height: 0;
    z-index: -1;
    overflow: hidden;
    transition: all 0.2s ease;
}
/* notification setting end */


.fa-toggle-off{
    font-size: 22px;
    margin-right: 10px;
}


/* <=========== Setting end ===========> */

/* CSS for JS classes start */

.open-account-content{
    max-height: 115px;
    z-index: 999;
}
.open-theme-content{
    max-height: 100px;
    z-index: 999;
}
.open-notifi-content{
    max-height: 100px;
    z-index: 999;
}