*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e2f99;
}
h1{
    text-align: center;
    color: white;
    position: relative;
}
.form_container form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background: linear-gradient(to left,#c1cdc9,#3e2f99);
}
form div{
    display: flex;
    flex-direction: column;
}
.form_container input{
    width: 350px;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.form_container label{
    font-size: 20px;
    color: white;
}
#loginbtn{
    color: white;
    background-color: rgb(120, 115, 154);
    cursor: pointer;
    background: linear-gradient(to left,#d3e2ec,rgb(120, 115, 154));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sign_up_link{
    display: flex;
    flex-direction: row !important;
    gap: 10px;
    align-items: center;
}
.sign_up_link p{
    font-size: 18px;
    color: white;
}
.sign_up_link a{
    text-decoration: none;
    color: rgb(245, 242, 243);
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(154, 115, 129);
    padding: 8px 10px;
    border-radius: 8px;
}